<!-- JQuery 3.2.1, then Tether, then Bootstrap.js -->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

<!-- Limit number of checkbox in submission form -->
<script>
  var limit = 3;
  $('input.goals_mcheckbox').on('change', function(evt) {
    if ($('input[class="goals_mcheckbox"]:checked').length > limit) {
        this.checked = false;
        window.alert("Please do not select more than three goals.");
    }
  });
</script>