{% extends "_base.html" %}

{% set active_page = "index" %}

{% block browsertitle %}{% endblock %}

{% block content %}

<h1>Social Chrysalis</h1>

<p>Are you a social butterfly?</p>

<div>
  <p>
    This game is designed to encourage recursers to meet and work with other recursers with
    diverse skills, interests and backgrounds.
  </p>

  How to play:
  <ol>
    <li>Sit down at a table.</li>
    <ul>
      <li>Look to your left.</li>
      <li>Look to your right.</li>
      <li>Look across from you.</li>
    </ul>
    <li>You have just identified up to three Potential New Friends (PNFs)</li>
    <li>While you work, get to know some of your PNFs</li>
    <li>Tell everybody about your New Friends and win points</li>
  </ol>
</div>

{% endblock %}
